[submodule "modules/crediya-common"]
	path = modules/crediya-common
	url = https://github.com/luismoroco/crediya-common.git
[submodule "modules/crediya-gateway"]
	path = modules/crediya-gateway
	url = https://github.com/luismoroco/crediya-gateway.git
[submodule "modules/crediya-auth"]
	path = modules/crediya-auth
	url = https://github.com/luismoroco/crediya-auth.git
